
.mm{
    background-color: crimson;


.JS {
    background-color: blue;

.color {
    background-color: blueviolet


body {
    background-color:red;
}

h2 {
    color: wheat;
    background-color: gray;
    display: inline;



.color {
    background-color: blueviolet;


}